<!doctype html>
<head>
<style>
.title{
	color:yellow;
	font-family: Calibri (Body);
	font-size: 300%;
}
	
.Tutor 1{
	color: Black;
	font-family: Calibri (Body);
	font-size: 150%;
}
	

</style>

</head>

<div class="title">
	<h1>About Our Tutors</h1>
</div>
<div class="Tutor 1">
	<h2> Thomas Stewart </h2>
	<p> Hello my name is Thomas and I am from London. I went and got my degree from the university of Oxford and have been teaching for over 8 years. I am 32 years old and I right now teach in a High School  called Jordanhill High School which is located on 45 Chamberlain RD, Glasgow. I teach Business so if you are needing  help learning any of the content then I hopefully will be able to help. I can teach business from National 5 level all the way up to Advance Higher Level. I Have sessions from Monday to Friday. Hopefully I will be able to teach you what you are needing to learn. </p>

	<h3> Louise Collinson </h3>
	<p> Hi, let me introduce myself, I am Louise Collinson and I am 23 years old. I have just achieved my degree at the University Of Edinburgh and I am working at a primary school called Buckstone Primary school which is in Edinburgh. I am able to teach you Modern Studies and History and have appoints from Monday to Friday.</p>

	<h4> Debra Anderson </h4>
	<p> Hello, I am Debra and I am from Washington DC, United States and I have a PHD in Education: Curriculum and Instruction. I have been teaching in the United Kingdom for 13 years and have gone between Primary and High Schools. I am right now employed in Aberdeen at Cults Academy which is located on Quarry RD. I am able to teach Modern, History and Business. I am able to have appoints all week except from the weekends and look forward in seeing what you already know and what I will be able to teach you. 
</div>

<div class=Button>
	<p align="left"><a href=/ ><button class=grey style=height:75px;width:150px">Back To Home Page</button></a></p>
</html>

