<head> 
<style> 
	h1{
	color: yellow;
	padding:10px;
	font-size:300%
	}

	h2{
	color: black;
	padding:10px;
	font-size:200%
	}
	
	h3{
	color: black;
	padding:10px;
	font-size:200%
	}
	
	h4{
	color: black;
	padding:10px;
	font-size:200%
	}
</style>
<h1> Subjects we offer </h1>

<h2> History </h2>
<p> History is one of the few subjects in which we offer to teach. We can offer you an option of either Advance Higher, Higher or National 5.
You will be able to learn how to structure your history essays as well as learning about the Russian Evoulation, The World Wars and The Industrial Evoulation. You will also learn about source questions and how to answer these sort of questions as well as going over past papers and example papers to get a better understanding of what they are looking for in the answers. </P>

<h3> Modern Studies </h3> 
<p> Modern Studies is becoming increasingly popular with students as figures such as Donald J. Trump who is the American president and Russia are in the news almost everynight as well as issues which are occuring in the United Kingdom. During your time with your tutor you will be able to find out how to tackle the source questions which 
will be in the exams. Learn about the essays and how to go about writing them as well as talking about coursework ideas. You will learn about the content you are 
studying in the class room and if you have any other questions the tutor would be happy to answer anything else you may want to study as well if you ask.

<h4> English </h4>
<p> English is one of the most important subjects to learn as it will help you in everyday life. It will help in writing an email to a client or even learning about the grammer for a university essay. If you choose to study english from the tutors then you will learn about not only the essay section of the exam and how to go about it but also about the poetry section. Your teacher will be able to talk about the novel Of mice and men and about Robert  Burns poems to be able to talk about them in the exam and be able to achieve a good mark in the exam.

<p align = "left"><a href='/'><button class=grey style="height:75px;width:150px">Home</button></p>
</head>
