<head> 
<style> 
	h1{
	color: yellow;
	padding:10px;
	font-size:300%
	}
	
	h2{
	color: Black;
	padding:10px;
	font-size:200%
	}

</style>
<h1> OnlineTutoringSystem </h1>

<h2> What to do? </h2>
<p> Welcome to your account, Hopefully you are having a great day. Why don't you go and request a tutor to do some revision. Why don't you go and check to see when your next meeting has been arranged for to make sure you don't miss when it? Has your details changed since the last time you updated them or since you've created them then why don't you go and update them so we have the most up-to-date information concering yourself. </p>

<table class="nav" align="center">
    <tr>
		<td>
			<p><a href='/'><button class=grey style="height:75px;width:150px">Home</button></p> 
			<p><a href='/Account/LogIn/MyAccount/RequestATutor'><button class=grey style="height:75px;width:150px">Request A Meeting</button></p> 
			<p><a href='/Account/LogIn/MyAccount/ViewMyMeetings'><button class=grey style="height:75px;width:150px">View My Meetings</button></p> 
			<p><a href='/Account/LogIn/MyAccount/EditAccountDetails'><button class=grey style="height:75px;width:150px">Edit Account Details</button></p> 
			
		</td>
	</tr>
</table>
</head> 
