<head> 
<style> 
	h1{
	color: yellow;
	padding:10px;
	font-size:300%
	}
	

</style>
<h1> OnlineTutoringSystem </h1>

<form>

  <p> What Tutor are you wanting? </p>
  
  <input type="radio" id="Thomas" name="Tutor" value="Thomas Stewart">
  <label for="Thomas">Thomas Stewart</label><br>
  <input type="radio" id="Louise" name="Tutor" value="Louise Collinson">
  <label for="Louise">Louise Collinson</label><br>
  <input type="radio" id="other" name="Tutor" value="Debra Anderson">
  <label for="Debra">Debra Anderson</label>

  <p> What do you want to study </p>

  <input type="radio" id="Business" name="Subject" value="Business">
  <label for="Business">Business</label><br>
  <input type="radio" id="ModernStudies" name="Subject" value="ModernStudies">
  <label for="ModernStudies">Modern Studies</label><br>
  <input type="radio" id="History" name="Subject" value="History">
  <label for="History">History</label>
  
  <P> What day do you want to meet? </p>
  
  <input type="radio" id="Monday" name="Day" value="Monday">
  <label for="Monday">Monday</label><br>
  <input type="radio" id="Tuesday" name="Day" value="Tuesday">
  <label for="Tuesday">Tuesday</label><br>
  <input type="radio" id="Wednesday" name="Day" value="Wednesday">
  <label for="Wednesday">Wednesday</label>
  <input type="radio" id="Thursday" name="Day" value="Thursday">
  <label for="Thursday">Thursday</label><br>
  <input type="radio" id="Friday" name="Day" value="Friday">
  <label for="Firday">Friday</label>
  
  <p> What time do you want the meeting to be? </p>
    <input type="radio" id="5:00PM-6:00PM" name="Time" value="5:00PM-6:00PM">
  <label for="5:00PM-6:00PM">5:00PM-6:00PM</label><br>
  <input type="radio" id="6:00PM-7:00PM" name="Time" value="6:00PM-7:00PM">
  <label for="6:00PM-7:00PM">6:00PM-7:00PM</label><br>
  <input type="radio" id="7:00PM-8:00PM" name="Time" value="7:00PM-8:00PM">
  <label for="7:00PM-8:00PM">7:00PM-8:00PM</label>
  
 

  <h2> Tutors and the subjects they teach </h2>
  
  <p> Thomas Stewart - Business</p>
  <p> Louise Collinson - Modern Studies and History</p>
  <p> Debra Anderson - Modern Studies, History and Business </p>
	  
<table class="nav" align="center">
    <tr>
	<td>
		<p><a href='/'<button class=grey style="height:75px;width:150px">Home</button></p>
		<p><a href='/Account/LogIn/MyAccount'><button class=grey style="height:75px;width:150px"My Account</button></p>
	</td>
    </tr>
</table>
  
  
</form>
</head>
