<head> 
<style> 
	h1{
	color: yellow;
	padding:10px;
	font-size:300%
	}

</style>
<h1> OnlineTutoringSystem </h1>

<form>
  <label for="Fullname">Full name:</label><br>
  <input type="text" id="FullName" name="FullName"><br>
  <label for="DateOfBirth">DateOfBirth:</label>
  <input type="date" id="DateOfBirth" name="DateOfBirth"><br>
  <label for="Address1">Address Line 1:</label><br>
  <input type="text" id="Address1" name="Address1"><br>
  <label for="Town">Town:</label><br>
  <input type="text" id="Town" name="Town"><br>
  <label for="PostCode">Post Code:</label><br>
  <input type="text" id="PostCode" name="PostCode"><br>
  <label for="Country">Country:</label><br>
  <input type="text" id="Country" name="Country"><br>
  <label for="ContactNumber">Contact Number:</label><br>
  <input type="text" id="ContactNumber" name="ContactNumber"><br>
  <label for="Username">Username:</label><br>
  <input type="text" id="Username" name="Username"><br>
  <label for="Password">Password:</label><br>
  <input type="text" id="Password" name="Password"><br>

</form>


<table class="nav" align="center">
    <tr>
		<td>
			<p><a href='/'><button class=grey style="height:75px;width:150px">Home</button></p> 
			<p><a href='/Account/LogIn/'><button class=grey style="height:75px;width:150px">Log In</button></p> 
		</td>
	</tr>
</table>
</head> 
