<head> 
<style> 
	h1{
	color: yellow;
	padding:10px;
	font-size:300%
	}

	h2{
	color:black;
	padding:10px;
	font-size:200%;
	}

	h3{
	color:black;
	padding:10px;
	font-size:200%
	}
	
</style>
<h1> OnlineTutoringSystem </h1>

<h2> What to do? </h2>
<p> This is space is where you can go and write down when your meeting is with the tutor so you won't forget when your appoint is.
	All the information will be stored in this section and you and delete a meeting by deleting the text after it has been completed.</p>
	
<h3> My Meetings </h3>

<textarea rows = "5" cols = "60" name = "description">
Enter details here...
</textarea><br>

<table class="nav" align="center">
    <tr>
		<td>
			<p><a href='/'><button class=grey style="height:75px;width:150px">Home</button></p> 
			<p><a href='/Account/LogIn/MyAccount'><button class=grey style="height:75px;width:150px">Save</button></p> 
		</td>
	</tr>
</table>

</head> 
